# Copy file nay thanh .env va dien gia tri thuc te
DB_PASSWORD=
DB_NAME=LeafGoDB
ASPNETCORE_ENVIRONMENT=Development
API_PORT=8080
JWT_SECRET=
JWT_ISSUER=LeafGoAPI
JWT_AUDIENCE=LeafGoClient
JWT_EXPIRY_MINUTES=60
NGINX_PORT=8000